.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: sandybrown;
}

p {
  text-align: center;
  margin-top: 10px;
}

.from {
  font-size: 20px;
  color: rgb(228, 146, 39);
}

.time {
  font-size: 10px;
  color: blueviolet;
}

.text {
  color: black;
}