h1 {
    text-align: center;
    color: sandybrown;
}

h2 {
    text-align: center;
    color: sandybrown;
    margin-top: 50px;
}

.add {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}